<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064542876687-hvptpdru1n70e104g8gh7nim1hmerqs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064542876687-hvptpdru1n70e104g8gh7nim1hmerqs0</string>
	<key>API_KEY</key>
	<string>AIzaSyBjzdYvVL7xSUNlO19bJShFfksFAR95i5c</string>
	<key>GCM_SENDER_ID</key>
	<string>1064542876687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ione.maagapp</string>
	<key>PROJECT_ID</key>
	<string>magapp-ione</string>
	<key>STORAGE_BUCKET</key>
	<string>magapp-ione.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064542876687:ios:1ce2eb0ed0b60428639f7a</string>
</dict>
</plist>